<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
</head>
<body>
    <h1 class="main_title">
        Кімнати
    </h1>
    <div>
        {% for room in rooms %}
            <p>Назва: {{ room.name }}</p>
            <p>Тип: {{ room.room_type }}</p>
            <p>Вмистімість: {{ room.capacity }}</p>
            <p>Опис: {{ room.description }}</p>
            <p>Ціна за годину: {{ room.price_per_hour }}</p>
            <br>
        {% endfor %}
    </div>
</body>
</html>