/* Стилі для форми бронювання */
form {
    margin: 20px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    max-width: 400px;
    background-color: #f9f9f9;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333; /* колір тексту */
}

input[type="text"],
input[type="email"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff; /* колір кнопки */
    color: #fff; /* колір тексту на кнопці */
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3; /* колір кнопки при наведенні */
}